{% extends "gmail_layout.html" %}
{% block title %}Compose - {{current_user.email}}{% endblock %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<div class="compose_email_before_700_px" style="margin-left: 270px;">
    <div class="container-lg" style="margin-top: -200px;">
        <h1 class="text-center"><u><b>Email Compose before</b></u></h1>
        <div style="border: 1px solid black;">
            <form action="/compose_email_form" method="post">
                <h6 style="font-size: 24px;">To: <span><input type="email" name="email_send_to"
                            style="width: 90%; font-size: 20px; font-weight: normal; padding-top: 2px; padding-bottom: 2px;"
                            required></span></h6>
                <input type="text" name="email_subject" style="width: 96%; margin-left: 2%; margin-bottom: 20px;"
                    placeholder="Subject"></span>
                <textarea id="summernote_before_700px" name="email_content" required></textarea>
                <button type="submit" class="btn btn-primary mt-3">Send</button>
            </form>
            <br>
        </div>
    </div>
</div>

<div class="compose_email_after_700_px" style="margin-top: -20px;">
    <div class="container-lg">
        <h1 class="text-center"><u><b>Email Compose after</b></u></h1>
        <div style="border: 1px solid black;">
            <form action="/compose_email_form" method="post">
                <h6 style="font-size: 24px;">To: <span><input type="email" name="email_send_to"
                            style="width: 90%; font-size: 20px; font-weight: normal; padding-top: 2px; padding-bottom: 2px;"
                            required></span></h6>
                <input type="text" name="email_subject" style="width: 96%; margin-left: 2%; margin-bottom: 20px;"
                    placeholder="Subject"></span>
                <textarea id="summernote_after_700px" name="email_content" required></textarea>
                <button type="submit" class="btn btn-primary mt-3">Send</button>
            </form>
            <br>
        </div>
    </div>
</div>

<script>
    $('#summernote_before_700px').summernote({
        height: 250,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    $('#summernote_after_700px').summernote({
        height: 250,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

{% endblock %}