{% extends "gmail_layout.html" %}
{% block title %}Single Bin - {{current_user.email}}{% endblock %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<style>
    .bin_btn {
        background: #E8EAED;
    }

    .bin_data_heading {
        color: #E8EAED;
    }

    #reply_form {
        display: none;
    }

    #forward_form {
        display: none;
    }

    #reply_form_after_700px {
        display: none;
    }

    #forward_form_after_700px {
        display: none;
    }
</style>
<div class="single_email_before_700px" style="margin-top: -195px; margin-left: 270px;">
    <span>
        <a href="/bin_email" style="color: black;">
            <i class="fa fa-arrow-left"
                style="font-size: 20px; margin-right: 32px; cursor: pointer; margin-top: 10px;"></i>
        </a>
        <label class="deleted_email_before_700px" style="float: right; margin-right: 30px;">
            <form action="/permanent_delete/email_id:{{getting_email_detail.id}}" method="post"
                id="myForm2_for_permanent_delete">
                <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                    oninput="myFunction2_for_permanent_delete()" />
            </form>
            <i class="fa fa-trash un_deleted_email" style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
        </label>
    </span>
    <hr style="margin-top: 10px; color: rgb(192, 192, 192);">
    <h3 class="email_sender" style="margin-bottom: 30px; margin-right: 20px;">{{getting_email_detail.email_subject}}
    </h3>
    <span
        style="border-radius: 100%; color: white; margin-right: 10px; background: blue; padding: 15px; margin-top: 40px; margin-top: 7px;">
        <b style="font-size: 24px;">{{getting_detail_of_sender.firstname[:1]}}</b>
    </span>
    <h5 style="margin-left: 70px; margin-top: -30px;"><span class="sender_name"
            style="font-weight: 600;">{{getting_detail_of_sender.firstname}}
            <span class="sender_last_name">{{getting_detail_of_sender.lastname}}</span></span><span> <span
                class="sender_email_before_1000px"><i class='fa fa-angle-left'></i>{{getting_detail_of_sender.email}}<i
                    class='fa fa-angle-right'></i></span>
            <span style="float: right; margin-right: 30px;">
                <span class="email_date_time">{{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}}</span>
                <span
                    class="email_date_time_after_1000px">{{getting_email_detail.email_time.strftime("%d-%m-%Y")}}</span>
                {% if getting_email_detail.email_star == 'yes' %}
                <label class="star_email" style="margin-left: 10px;">
                    <input type="checkbox" value="star_email" name="star_email" style="display: none;"
                        onClick="window.location='/star_email_inbox/email_id:{{getting_email_detail.id}}';" />
                    <i class="fa fa-star un_star_email" style="font-size: 16px; cursor:pointer; color: orange;"></i>
                </label>
                {% else %}
                <label class="star_email" style="margin-left: 10px;">
                    <input type="checkbox" value="star_email" name="star_email" style="display: none;"
                        onClick="window.location='/star_email_inbox/email_id:{{getting_email_detail.id}}';" />
                    <i class="fa fa-star un_star_email"
                        style="font-size: 16px; cursor:pointer; color: rgb(204, 204, 204);"></i>
                </label>
                {% endif %}
                <i class="fa fa-reply" id="reply_btn"
                    style="margin-left: 10px; color: rgb(204, 204, 204); cursor: pointer;"
                    onclick="show_reply_form()"></i>
            </span>
        </span>
    </h5><br>
    <h5 style="margin-top: -25px; margin-left: 70px;"><span class="mailed_to">to me</span>
        <span class="dropdown" style="position: absolute; width: 100%;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false" style="padding: 0;">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                style="padding-left: 20px; padding-right: 20px; width: 500px;">
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">From:</div>
                        <div class="col-10"><b>{{getting_detail_of_sender.firstname}}
                                {{getting_detail_of_sender.lastname}}</b> <i
                                class='fa fa-angle-left'></i>{{getting_detail_of_sender.email}}<i
                                class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">To:</div>
                        <div class="col-10"><b>{{current_user.firstname}} {{current_user.lastname}}</b> <i
                                class='fa fa-angle-left'></i>{{current_user.email}}<i class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">Date:</div>
                        <div class="col-10">{{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}}</div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">Subject:</div>
                        <div class="col-10">{{getting_email_detail.email_subject}}</div>
                    </div>
                </li>
            </ul>
        </span>
    </h5>
    <p style="margin-right: 10px; margin-left: 70px;">{{getting_email_detail.email_content[3:-4]|safe}}</p>
    <span style="margin-left: 70px;" id="reply_forward_btn"><button type="button" class="btn reply_btn"
            style="color: gray;" onclick="show_reply_form()"><i class="fa fa-reply" style="color: gray;"></i>
            Reply</button> <button type="button" class="btn forward_btn" style="margin-left: 10px; color: gray;"
            onclick="show_forward_form()"><i class="fa fa-mail-forward"></i>
            Forward</button>
    </span>
</div>
<div style="margin-right: 50px; margin-top: 70px; margin-left: 270px;">
    <!-- reply form -->
    <form action="" method="POST">
        <div class="card" id="reply_form">
            <div class="card-body">
                <span style="border-radius: 100%; color: white; background: blue; padding: 15px;">
                    <b style="font-size: 24px;">{{getting_email_detail.email_subject[:1]}}</b>
                </span>
                <div class="form-outline mb-4" style="margin-left: 55px; margin-top: -30px;">
                    <h5 style="margin-top: -10px;">
                        <span class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-reply" style="color: gray; margin-right: 5px;"></i>
                            </button>
                        </span><span style="color: gray; font-size: 18px;">{{getting_detail_of_sender.email}}</span>
                    </h5>
                    <textarea class="form-control" id="summernote_before_700px"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                    <label style="float: right; margin-right: 30px; margin-top: 10px;">
                        <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                            onclick="hide_reply_form()" />
                        <i class="fa fa-trash un_deleted_email"
                            style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <!-- forward form -->
    <form action="" method="POST">
        <div class="card" id="forward_form">
            <div class="card-body">
                <span style="border-radius: 100%; color: white; background: blue; padding: 15px;">
                    <b style="font-size: 24px;">{{getting_detail_of_sender.firstname[:1]}}</b>
                </span>
                <div class="form-outline mb-4" style="margin-left: 55px; margin-top: -30px;">
                    <h5 style="margin-top: -10px;">
                        <span class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-mail-forward" style="color: gray; margin-right: 5px;"></i>
                            </button>
                        </span>
                        <span style="color: gray; font-size: 18px;">To: <input type="email"
                                style="width: 67%; color: gray;" placeholder="Recipients"></span>
                    </h5>
                    <textarea class="form-control" id="summernote_forward_btn_before_700px">
                        ---------- Forwarded message --------- <br>
From: {{getting_detail_of_sender.email}} <br>
Date: {{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}} <br>
Subject: {{getting_email_detail.email_subject}} <br>
To: {{current_user.eamil}} <br>

{{getting_email_detail.email_content[3:-4]|safe}}
                    </textarea>
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                    <label style="float: right; margin-right: 30px; margin-top: 10px;">
                        <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                            onclick="hide_forward_form()" />
                        <i class="fa fa-trash un_deleted_email"
                            style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="single_email_after_700px" style="margin-top: -80px; margin-left: 20px;">
    <span>
        <a href="/bin_email" style="color: black;">
            <i class="fa fa-arrow-left" style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
        </a>
        <label class="deleted_email" style="float: right; margin-top: -17px;">
            <form action="/permanent_delete/email_id:{{getting_email_detail.id}}" method="post"
                id="myForm1_for_permanent_delete">
                <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                    oninput="myFunction1_for_permanent_delete()" />
            </form>
            <i class="fa fa-trash un_deleted_email" style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
        </label>
    </span>
    <hr style="margin-top: 10px; color: rgb(192, 192, 192);">
    <h3 class="email_sender" style="margin-bottom: 30px; margin-right: 10px;">{{getting_email_detail.email_subject}}
    </h3>
    <span
        style="border-radius: 100%; color: white; margin-right: 10px; background: blue; padding: 15px; margin-top: 40px; margin-top: 7px;">
        <b style="font-size: 24px;">{{getting_email_detail.email_subject[:1]}}</b>
    </span>
    <h5 style="margin-left: 70px; margin-top: -30px;"><span class="sender_name"
            style="font-weight: 600;">{{getting_detail_of_sender.firstname}}
            <span class="sender_last_name">{{getting_detail_of_sender.lastname}}</span></span><span> <span
                class="sender_email_before_1000px"><i class='fa fa-angle-left'></i>{{getting_detail_of_sender.email}}<i
                    class='fa fa-angle-right'></i></span>
            <span style="float: right; margin-right: 30px;">
                <span class="email_date_time">{{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}}</span>
                <span
                    class="email_date_time_after_1000px">{{getting_email_detail.email_time.strftime("%d-%m-%Y")}}</span>
                {% if getting_email_detail.email_star == 'yes' %}
                <label class="star_email" style="margin-left: 10px;">
                    <input type="checkbox" value="star_email" name="star_email" style="display: none;"
                        onClick="window.location='/star_email_inbox/email_id:{{getting_email_detail.id}}';" />
                    <i class="fa fa-star un_star_email" style="font-size: 16px; cursor:pointer; color: orange;"></i>
                </label>
                {% else %}
                <label class="star_email" style="margin-left: 10px;">
                    <input type="checkbox" value="star_email" name="star_email" style="display: none;"
                        onClick="window.location='/star_email_inbox/email_id:{{getting_email_detail.id}}';" />
                    <i class="fa fa-star un_star_email" style="font-size: 16px; cursor:pointer;"></i>
                </label>
                {% endif %}
                <i class="fa fa-reply"
                    style="margin-left: 10px; color: rgb(204, 204, 204); cursor: pointer; color: rgb(204, 204, 204);"
                    onclick="show_reply_form_after_700px()"></i>
            </span>
        </span>
    </h5><br>
    <h5 style="margin-top: -25px; margin-left: 70px;"><span class="mailed_to">to me</span>
        <span class="dropdown" style="position: absolute; width: 100%;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false" style="padding: 0;">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                style="padding-left: 20px; padding-right: 20px; width: 500px;">
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">From:</div>
                        <div class="col-10"><b>{{getting_detail_of_sender.firstname}}
                                {{getting_detail_of_sender.lastname}}</b> <i
                                class='fa fa-angle-left'></i>{{getting_detail_of_sender.email}}<i
                                class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">To:</div>
                        <div class="col-10"><b>{{current_user.firstname}} {{current_user.lastname}}</b> <i
                                class='fa fa-angle-left'></i>{{current_user.email}}<i class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">Date:</div>
                        <div class="col-10">{{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}}</div>
                    </div>
                </li>
                <li style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-2">Subject:</div>
                        <div class="col-10">{{getting_email_detail.email_subject}}</div>
                    </div>
                </li>
            </ul>
        </span>
    </h5>
    <p style="margin-right: 10px;">{{getting_email_detail.email_content[3:-4]|safe}}</p>
    <span id="reply_forward_btn_after_700px">
        <button type="button" class="btn reply_btn" style="color: gray;" onclick="show_reply_form_after_700px()"><i
                class="fa fa-reply" style="color: gray;"></i> Reply</button>
        <button type="button" class="btn forward_btn" style="margin-left: 10px; color: gray;"
            onclick="show_forward_form_after_700px()"><i class="fa fa-mail-forward"></i> Forward</button>
    </span>
</div>

<div style="margin-right: 50px; margin-top: 70px; margin-left: 50px;">
    <!-- reply form -->
    <form action="" method="post">
        <div class="card" id="reply_form_after_700px">
            <div class="card-body">
                <span style="border-radius: 100%; color: white; background: blue; padding: 15px;">
                    <b style="font-size: 24px;">{{getting_email_detail.email_subject[:1]}}</b>
                </span>
                <div class="form-outline mb-4" style="margin-left: 55px; margin-top: -30px;">
                    <h5 style="margin-top: -10px;">
                        <span class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-reply" style="color: gray; margin-right: 5px;"></i>
                            </button>
                        </span><span style="color: gray; font-size: 18px;">{{getting_detail_of_sender.email}}</span>
                    </h5>
                    <textarea class="form-control" id="summernote_after_700px"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                    <label style="float: right; margin-right: 30px; margin-top: 10px;">
                        <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                            onclick="hide_reply_form_after_700px()" />
                        <i class="fa fa-trash un_deleted_email"
                            style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <!-- forward form -->
    <form action="" method="POST">
        <div class="card" id="forward_form_after_700px">
            <div class="card-body">
                <span style="border-radius: 100%; color: white; background: blue; padding: 15px;">
                    <b style="font-size: 24px;">{{getting_detail_of_sender.firstname[:1]}}</b>
                </span>
                <div class="form-outline mb-4" style="margin-left: 55px; margin-top: -30px;">
                    <h5 style="margin-top: -10px;">
                        <span class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-mail-forward" style="color: gray; margin-right: 5px;"></i>
                            </button>
                        </span>
                        <span style="color: gray; font-size: 18px;">To: <input type="email"
                                style="width: 67%; color: gray;" placeholder="Recipients"></span>
                    </h5>
                    <textarea class="form-control" id="summernote_forward_btn_after_700px">
                        ---------- Forwarded message --------- <br>
                        From: {{getting_detail_of_sender.email}} <br>
                        Date: {{getting_email_detail.email_time.strftime("%b %d-%Y, %H:%M")}} <br>
                        Subject: {{getting_email_detail.email_subject}} <br>
                        To: {{current_user.eamil}} <br>
                        
                        {{getting_email_detail.email_content[3:-4]|safe}}
                    </textarea>
                    <button type="submit" class="btn btn-primary mt-3">Send</button>
                    <label style="float: right; margin-right: 30px; margin-top: 10px;">
                        <input type="checkbox" value="deleted_email" name="deleted_email" style="display: none;"
                            onclick="hide_forward_form_after_700px()" />
                        <i class="fa fa-trash un_deleted_email"
                            style="font-size: 20px; margin-right: 32px; cursor: pointer;"></i>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $('#summernote_before_700px').summernote({
        height: 170,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    $('#summernote_forward_btn_before_700px').summernote({
        height: 170,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    $('#summernote_after_700px').summernote({
        height: 170,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    $('#summernote_forward_btn_after_700px').summernote({
        height: 170,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

<script>
    function myFunction1_for_permanent_delete() {
        document.getElementById("myForm1_for_permanent_delete").submit();
    }
</script>
<script>
    function myFunction2_for_permanent_delete() {
        document.getElementById("myForm2_for_permanent_delete").submit();
    }
</script>

<script>
    function show_reply_form() {
        var x = document.getElementById("reply_form");
        x.style.display = 'block';
        var x = document.getElementById("reply_forward_btn");
        x.style.display = 'none';
    }
</script>

<script>
    function hide_reply_form() {
        var x = document.getElementById("reply_form");
        x.style.display = 'none';
        var x = document.getElementById("reply_forward_btn");
        x.style.display = 'block';
    }
</script>

<script>
    function hide_forward_form() {
        var x = document.getElementById("forward_form");
        x.style.display = 'none';
        var x = document.getElementById("reply_forward_btn");
        x.style.display = 'block';
    }
</script>

<script>
    function show_forward_form() {
        var x = document.getElementById("forward_form");
        x.style.display = 'block';
        var x = document.getElementById("reply_forward_btn");
        x.style.display = 'none';
    }
</script>

<script>
    function show_reply_form_after_700px() {
        var x = document.getElementById("reply_form_after_700px");
        x.style.display = 'block';
        var x = document.getElementById("reply_forward_btn_after_700px");
        x.style.display = 'none';
    }
</script>

<script>
    function hide_reply_form_after_700px() {
        var x = document.getElementById("reply_form_after_700px");
        x.style.display = 'none';
        var x = document.getElementById("reply_forward_btn_after_700px");
        x.style.display = 'block';
    }
</script>

<script>
    function show_forward_form_after_700px() {
        var x = document.getElementById("forward_form_after_700px");
        x.style.display = 'block';
        var x = document.getElementById("reply_forward_btn_after_700px");
        x.style.display = 'none';
    }
</script>

<script>
    function hide_forward_form_after_700px() {
        var x = document.getElementById("forward_form_after_700px");
        x.style.display = 'none';
        var x = document.getElementById("reply_forward_btn_after_700px");
        x.style.display = 'block';
    }
</script>



{% endblock %}